html,
body,
header,
#intro {
    height: 100%;
}
#intro {
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-inner {
    padding: 1.3em;
    display: flex;
}
.carousel-item .card {
    margin: 30px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;

}
.carousel-control-prev, .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-item .card img {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13em;
}

.carousel-item .card-body {
    height: 13em;
}

@media (max-width: 767px) {
    .carousel-item .card img {
        height: 17em;
    }
}

@media (min-width: 768px) {
    .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }
}

