# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# Package Files #
*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

# Inclusions
!lib/**

# Compiled Files
*.class
bin/
build/
/bin1/
java/build/**

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

