@import '../layout/navigation';
@import '../layout/header';
@import '../layout/body';
@import '../layout/footer';
@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/extends';

$center-container-padding: 50px;
%pageContentContainer {
  @extend %flexCenteredContainer;
  text-align: justify;
  padding: $center-container-padding;
  width: calc(100% - 2 * $center-container-padding);
}


//inheritance, mixins
.overview {
  @extend %pageContentContainer;
  @include colored-container($themeGreenColor, $themeLightColor);
  @include shadow(-24px);
  flex-direction: column;
  margin: 50px auto;

  h3 {
    color: $themeLightColor;
  }

}

.meal-container {
  @extend %pageContentContainer;
  border-top: 1px solid $themeBlackColor;
  margin: 15px auto;

  h3 {
    text-align: center;
  }

  article {
    margin: 20px;
    max-width: 50%;
    p {
      margin: 15px;
    }
  }

  .meal-photo {
    @extend %flexCenteredContainer;
    flex-direction: column;

    img {
      width: 400px;
      height: auto;
      margin: 20px;
    }
  }
}

.meals-section {
  display: block;
  justify-content: center;
  width: 100%;

  .meal-container:last-child {
    margin-bottom: 50px;
  }

  h2 {
    text-align: center;
    font-size: 40px;
  }
}

.tip-container {
  @extend %pageContentContainer;
  @include colored-container($themeBrownColor, $themeLightColor);
  @include shadow(-10px);
  flex-direction: column;
  padding: 20px 50px;

  h3 {
    color: $themeLightColor;
  }
}