body {
  margin: 0;
  font-family: sans-serif;

  .page-content {
    width: $page-content-width;
    max-width: calc(100% - 2 * $page-content-padding);
    padding: 0 $page-content-padding;
    margin: 0 auto;
  }
}