
@import '../helpers/variables';

footer {
  background-color: $themeBlackColor;
  margin-bottom: 0;
  margin-top: 50px;
  padding: 10px;

  p, a {
    position: relative;
    left: 20px;
    font-variant: small-caps;
    color: #FAFFFF;
    margin: 5px 10px;
  }
}
