.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

// flip cards
.flip-card {
  background-color: transparent;
  // function
  width: calculateCardWidth(3, 10px);
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 0 15px;

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-back {
    @extend %flipCardBack;
    background-color: $themeGreenColor;
  }

  // use list, nth() is accessor
  @each $tuple in $flipCardColorConfig {
    // string interpolation
    .flip-card-back-#{nth($tuple, 1)} {
      @extend %flipCardBack;
      background-color: nth($tuple, 2);
    }
  }

  .flip-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

// dev cards
.dev-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 30px;
  text-align: center;

  .title {
    color: grey;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  p {
    margin: 10px;
  }

  img {
    width: 100%;
  }
}