.form-container {
  @extend %pageContentContainer;
  padding: 10px;
  border-top: 1px solid $themeBlackColor;
  margin: 15px auto;
  display: flex;
  flex-wrap: wrap;

  h3 {
    text-align: center;
  }

  article {
    margin: 20px;
    p {
      margin: 15px;
    }
  }
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="email"],
  input[type="text"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }

  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: $themeGreenColor;
    border: none;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  input[type="submit"]:hover {
    background-color: darken($themeGreenColor, 5%);
  }
}
